version: '3.8'

services:
  playwright-tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    volumes:
      - ./app/e2e:/app/app/e2e
      - ./app/tests:/app/app/tests
      - ./app/playwright.config.ts:/app/app/playwright.config.ts
      - ./app/test-results:/app/app/test-results
      - ./app/playwright-report:/app/app/playwright-report
    environment:
      - CI=true
    working_dir: /app/app
    command: npx playwright test
